
.dialogsWrap {
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-gap: 20px;
}


.dialogItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    text-decoration: none;
    color: #000;
}

.dialogItemAct {
    background-color: rgba(0, 0, 0, .05);
}

.dialogItem:hover {
    background-color: rgba(0, 0, 0, .05);
}

.chatWrap > div {
    margin-bottom: 15px;
}