.btn {
    display: inline-block;
    padding: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #5b88bd8c;
    border-radius: 3px;
    color: #fff;
}

.btn_act {
    background-color: #5b88bd9d;
    border-radius: 3px;
    color: #fff;
}