.remember {
    width: auto !important;
    margin: 20px 0px 0px 15px;
}

.rememberMe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.someError {
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 15px;
}